<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Settings</title>
    <script src="settings.js" type="module"></script>
    <link rel="stylesheet" href="../lib/bamboo.css" />
    <link rel="stylesheet" href="./highlight.css" />
    <style>
      body {
        max-width: 80ch;
        width: 100%;
      }
      h2 {
        text-align: center;
      }
      label {
        cursor: default;
      }
      button {

      }
    </style>
  </head>
  <body>
    <h2>Settings</h2>
    <span  style="display: flex; justify-content: space-between; align-items: baseline;">
      <h3>
        <label for="rules">Rules</label>
      </h3>
      <a href="../example_rules/steam.json" id="rule-examples"
      style="font-size: 0.9rem; color:var(--b-text)" target="_blank"
      >Example</a>
    </span>
    <p>
      <textarea
        id="rules"
        rows="20"
        v-model="ruleStr"
        v-on:input="editSaveStatus"
        @vue:mounted="mounted"
        is="highlighted-code"
        language="json"
        tab-size="2"
        spellcheck="false"
      ></textarea>
    </p>
    <p style="display: flex; justify-content: flex-start; align-items: center; ">
      <button v-on:click="saveRules">Save</button>
        <button v-on:click="importRules"  style="margin-left: auto">Import</button>
        <button v-on:click="exportRules" style="margin-left: 0.5rem">Export</button>
    </p>
    <p>{{ saveStatus }}</p>
    <h4>
      <label for="rule-url">Rule URL</label>
    </h4>
    <p>
      <input type="text" name="rule-url" id="rule-url" v-model="ruleUrl" />
    </p>
    <p>
      <button v-on:click="fetchExternalRules">Fetch</button>
    </p>
    <p>{{ fetchStatus }}</p>
  </body>
</html>
